server:
  port: 8080
  servlet:
    context-path: /send-flow/api

spring:
  application:
    name: send-flow

  datasource:
    url: jdbc:mysql://localhost:3306/sendflow
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        retry:
          enabled: true
          max-attempts: 6
          initial-interval: 2000ms
    template:
      mandatory: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  secret: ${SECRET}
  access-token-expiration: 10000000
  refresh-token-expiration: 2000000
