server:
  port: 8080
  servlet:
    context-path: /send-flow/api

spring:
  application:
    name: send-flow

  datasource:
    url: mysql://root:kEHXUuTuDowhdHOCFEZLaKhHukFzhoCr@turntable.proxy.rlwy.net:14080/railway
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: kEHXUuTuDowhdHOCFEZLaKhHukFzhoCr
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: ${SPRING_RABBITMQ_PORT:5672}
    username: ${SPRING_RABBITMQ_USERNAME:guest}
    password: ${SPRING_RABBITMQ_PASSWORD:guest}
    listener:
      simple:
        retry:
          enabled: true
          max-attempts: 6
          initial-interval: 2000ms
    template:
      mandatory: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  secret: ${SPRING_SECRET}
  access-token-expiration: 10000000
  refresh-token-expiration: 2000000
